.about-container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 4rem;
}

.about_img {
    height: 360px;
    width: 240px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about_info {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.about_box {
    background-color: var(--container-color);
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about_icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: 0.5rem;
}

.about_title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.about_subtitle {
    font-size: var(--tiny-font-size);
}

.about_description {
    padding: 0 4rem 0 0;
    margin-bottom: 2.5rem;
    width: 100%;
}

/* For large devices */
@media screen and (max-width: 992px) {
    .about-container {
        gap: 0.5rem;
    }

    .about_img {
        height: 310px;
        width: 190px;
    }

    .about_info {
        grid-template-columns: repeat(3, 120px);
        gap: 0.5rem;
    }

    .about_description {
        padding: 0 0 0 0;
        margin-bottom: 2.5rem;
    }
}

/* For medium devices */
@media screen and (max-width: 768px) {
    .about-container {
        grid-template-columns: 230px 230px;
        align-items: center;
        gap: 3rem;
    }

    .about_img {
        height: 280px;
        width: 160px;
    }

    .about_info {
        grid-template-columns: repeat(3, 105px);
        gap: 0.5rem;
        padding: 0 3rem 0 0;

    }

    .about_box {
        text-align: center;
        padding: 0.5rem 1rem;
    }
}

@media screen and (max-width: 576px) {
    .about-container {
        grid-template-columns: 330px;
        justify-content: center;
    }
}

/* For small devices */
@media screen and (max-width: 350px) {

    .about-container {
        grid-template-columns: 130px;

    }
}