.contact_title {
    font-size: var(--h1-font-size);
    color: var(--title-color);
    text-align: center;
    margin-bottom: 4rem;
    margin-top: 5rem;
}

.contact_container {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 6rem;
    padding-bottom: 3rem;
}

.contact_image {
    width: 340px;
    height: 400px;
    background-color: #fff;
}

.contact_form{
    width: 300px;
}

.form_box{
    position: relative;
    margin-bottom: 2rem;
    height: 3rem;
}

.form_title{
    color: var(--title-color);
    text-align: center;
    margin-bottom: 1rem;
}

.form_input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid rgba(0, 0, 0, 0.3);
    background: none;
    color: var(--title-color);
    outline: none;
    border-radius: 0.75rem;
    padding: 1.5rem;
    z-index: 1;
}

.form_tag{
    position: absolute;
    top: -0.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: 0.25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.form_area{
    height: 9rem;
}

.form_area textarea{
    resize: none;
}