.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

.nav-item{
    cursor: pointer;
}

.logo,
.nav-toggle {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

.nav-list {
    display: flex;
    column-gap: 2rem;
}

.nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav-close,
.nav-toggle {
    display: none;
}

.active-link,
.nav-link:hover {
    color: var(--title-color-dark);
    
}

.scroll-header{
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
    .header {
        bottom: initial;
        top: 0;
    }

    .nav {
        height: var(--header-height);
    }

    .nav-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        /* box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15); */
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .3s;
    }

    .show-menu{
        top: 5%;
    }

    .nav-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav-icon {
        font-size: 1.2rem;
    }

    .nav-close {
        position: absolute;
        right: 1.3rem;
        bottom: 1.3rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav-close:hover {
        color: var(--title-color-dark);
    }

    .nav-toggle{
        font-size: 1.1rem;
        cursor: pointer;
    }

    .nav-icon,
    .nav-close,
    .nav-toggle {
        display: block;
    }

}

@media screen and (max-width: 350px) {

    .nav-menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav-list {
       column-gap: 0;
    }

}